.bottom-taskbar {
    background-color: gray;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.bottom-taskbar button {
    margin-left: 25%;
    margin-top: 10px;
}

.deadline-container {
    margin: 5px;
    background-color: lightgray;
    width: 100%;
}

.overlay-form {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(73, 73, 73, 0.5); 
    z-index: 2;
    cursor: pointer; /* Add a pointer on hover */
    padding: 10px;
}

.overlay-form form {
    position: fixed; /* Sit on top of the page content */
    width: 80%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: white; 
    z-index: 3; 
    cursor: pointer; /* Add a pointer on hover */
    border: solid thin black;
    border-radius: 10px;
    padding: 10px;
}

.task-col {
    display: inline-grid;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    width: 20%;
    min-height: 500px;
}

.task-col * {
    margin: 10px;
}

.task-display {
    border: solid thin black;
    border-radius: 10px;
    padding: 5px;
    height: 100px;
    width: 80%;
}

#create-project-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 80%; /* Full width (cover the whole page) */
    height: 80%; /* Full height (cover the whole page) */
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: white; /* Black background with opacity */
    z-index: 2; 
    cursor: pointer; /* Add a pointer on hover */
    border: solid thin black;
    border-radius: 10px;
    padding: 10px;
}

#tasks-board {
    background-color: rgb(158, 158, 158);
    padding-top: 20px;
    padding-bottom: 20px;
}